[submodule "utils/libcrc"]
	path = utils/libcrc
	url = https://github.com/lammertb/libcrc.git
[submodule "utils/crypto"]
	path = utils/crypto
	url = https://github.com/xue-blood/crypto-algorithms.git
[submodule "utils/RSAEuro"]
	path = utils/RSAEuro
	url = https://github.com/mort666/RSAEuro.git
